body { background-color: #caddda; }
.block { text-align: center; width: 70%; margin-left: 15% }
h1 {color: #494949; font-size: 1.5em;}
p {color: #494949; font-size: 1.2em}
label {color: #494949; font-size: 1.2em}